*{
  margin: 0%;
}
body{
  color: white;
  background-color: black;
  

}
ul{
 display: inline;
 position: fixed;
 background-position: 0%;
 background-color: black;
 position: fixed;
 top: 0;
 width: 100%;
 padding: 10px;
 padding-left:75%;

}

li {
    text-decoration: none;
  
  }
ul li{
    display: inline;
  }

a{
    color: white;
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
  }
#navBar:hover{
    color:#E3BA28;
  }
#home{
  margin-top: 5%;
  margin-bottom: 21%;
  background-color: black;

}
#about{
  margin-top: 15%;
  margin-bottom: 15%;
  background-color: rgb(19, 18, 18);
  height: 50%;
}
.landing{
  
  padding-top: 10%;
  text-align: center;
 
  
}
#paragraph2{
  font-size: 60px;
  color: #E3BA28;
}

#paragraph1{
  font-size: 30px;
  margin-top: 5%;
}
.column {
  float: left;
  width: 45.3%;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#paragraph3{
  width: 100%;
  margin-left: 12%;
  margin-top: 15%;
  font-size: 100%;
}
#paragraph4{
  padding-left: 20%;


}
.cards{
  display: flex;
}
.card {
  box-shadow: 0 4px 5px ;
  transition: 0.3s;
  width: 1000%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  background-color: rgb(41, 40, 40);

}

.card:hover {
  box-shadow: 0 8px 16px 0 #E3BA28;
}

.descriptions {
  padding: 2px 16px;
  text-align: center;
}
h2{
  color: #E3BA28;
}
.explore{
  border: solid 3px #E3BA28; 
  background-color: #E3BA28;
  margin-top: 20%;
  text-align: center;
  padding-right: 5%;
  font-size: 20px;

}
#resume{
  border: solid #E3BA28;
  background-color:#E3BA28;
  color: white;
  margin-left: 47%;
  text-align: center;
  margin-top: 20px;
  width: 10%;
  height: 10%;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 20px;
}
#cardImage{
  width: 30%;
}
#projects{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(19, 18, 18);
}
h1{
  color: #E3BA28;
  text-align: center;
}
#contact{
  text-align: center;
}
#ques{
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
}
#get{
  font-family: 'Courier New', Courier, monospace;
}
#cardParagraph1{
  padding-top: 3%;
  padding-bottom: 10%;
}
#cardParagraph2{
  padding-top: 15%;
  padding-bottom: 15%;
}
#cardParagraph3{
  padding-top: 15%;
  padding-bottom: 13%;
}
#myimage{
  padding-left: 10%;
  padding-top: 5%;
}
#copy{
  font-size: 120%;
}